
.container {
    margin: auto;
    width: 60%;
    text-align: center;
}

#txtN,
#btn {
    padding: 2px;
    font-size: 20px;
    margin-bottom: 10px;
}

.container>#print {
    font-size: 20px;
    text-align: left;
}

* {
 background-color: #000;
 color: #fff;
}
 #area .btn {
     border-color: #fff;
     color: #fff;
 }
 #area .btn:hover {
 background-color: #fff;
 color: #000 ;
 }